.image-bg {
    background-image: url("/pictures/accueil.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.btn.btn-primary.btn-rounded.Ripple-parent.btn-contact{
  display: block;
  position: relative;
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 3;
  margin-top: 80px;
}


  /* .btn.btn-primary.btn-rounded.Ripple-parent.btn-contact{
    border-radius: 2.125rem;
  }    */
.btn.btn-needs{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: 200px;
    width: 204px;
    border-radius: 100px;
    padding: 70px 40px;
    margin: 70px;
}
/* .h1.header{
  text-align: center;
  
}
.h1, h1, h2.header {
  font-size: 3.5rem;
  text-align: center;
}
.h1, p .header{
  padding-left: 450px;
  padding-top: 10px;
  padding-right: 450px 
}
.h1, h1.header{
  padding-top: 240px;
  text-shadow: 8px
}
.h1, h1, h2, p.header {
  font-weight: bold;
  color: #FFFF
} */

